<div class="input-container">
  <h1 class="h11">עדכון מתכון</h1>
<div class="container" [formGroup]="DetailsForm">
  <label>תמונה</label>
  <input class="form-control" type="text" formControlName="image"  ><br>
  <label>שם מתכון</label>
  <input class="form-control" type="text" formControlName="recipe_name" ><br>
  <label>זמן הכנה בדקות</label>

  <input class="form-control" type="number" formControlName="preparation_time_in_minutes"><br>
  <label>דירוג מ 1-5</label>

  <input class="form-control" type="number" formControlName="difficulty_level_1_5" ><br>
  <ng-container *ngIf="DetailsForm.controls['Difficulty_level_1_5']?.errors as idError">
    <p *ngIf="idError['min']">this field is must at least 1</p>
    <p *ngIf="idError['max']">this field is must at most 5</p>
</ng-container>

<ng-container formArrayName="preparation">
  <ng-container *ngFor="let item of preparation.controls; let i = index">
    <div>
  <label>רכיבים</label>

      <input class="form-control" id="name" type="text" [formControlName]="i" />
      <button class="form2-control" type="button" (click)="removePreparation(i)">
       מחיקת רכיב
      </button>
    </div>
  </ng-container>
</ng-container><br>
<button class="form2-control" type="button" (click)="addNewPreparation()">הוספת רכיב</button><br>
<br>
<ng-container formArrayName="the_list_of_components">
  <ng-container *ngFor="let item of the_list_of_components.controls; let i = index">
    <div>
  <label>אופן ההכנה </label>

      <input class="form-control" id="name" type="text" [formControlName]="i" />
      <button class="form2-control" type="button" (click)="removeComponent(i)">
        מחיקת אופן ההכנה
      </button>
    </div>
  </ng-container>
</ng-container><br>
<button class="form2-control" type="button" (click)="addNewComponent()">הוספת אופן ההכנה</button><br>
<div ></div><br>
<button class="form3" (click)="keep()">שמירה</button>
<button class="form4" (click)="cancel()">ביטול</button>
</div>

</div>














<!-- <h3>Ingredients:</h3>
            <ul>
                <li *ngFor="let ingredient of recipe.the_list_of_components">
                     <img src="path_to_your_ingredient_icon" alt="Ingredient Icon">-->
                    <!-- {{ ingredient }} -->
                <!-- </li> -->
            <!-- </ul>
            <h3>Preparation:</h3>
            <ol>
                <li *ngFor="let step of recipe.preparation">{{ step }}</li>
            </ol> -->
        <!-- </div> -->

