<!-- <p>edit-recipe works!</p> -->
<div [formGroup]="DetailsForm">
  <!-- <input type="text" formControlName="recipe_code" value="{{edit.recipe_code}}" placeholder="{{edit.recipe_code}}" ><br> -->
  <!-- <ng-container *ngIf="this.DetailsForm.controls['recipe_code'].errors as idError"> -->
    <!-- <p appHightLight *ngIf="idError['required']">this field is must!</p> -->
    <!-- <p *ngIf="idError['minlength']">this field is must at least 9 digits</p> -->
  <!-- </ng-container> -->

  <input type="text" formControlName="image"  ><br>
  <input type="text" formControlName="recipe_name" ><br>
  <input type="text" formControlName="preparation_time_in_minutes"><br>
  <input type="text" formControlName="difficulty_level_1_5" ><br>
  <ng-container *ngIf="DetailsForm.controls['Difficulty_level_1_5']?.errors as idError">
    <!-- <p appHightLight *ngIf="idError['required']">this field is must!</p> -->
    <p *ngIf="idError['min']">this field is must at least 1</p>
    <p *ngIf="idError['max']">this field is must at most 5</p>
</ng-container>

<ng-container formArrayName="preparation">
  <ng-container *ngFor="let item of preparation.controls; let i = index">
    <div>
      <input id="name" type="text" [formControlName]="i" />
      <button type="button" (click)="removePreparation(i)">
        מחיקה
      </button>
    </div>
  </ng-container>
</ng-container>
<button type="button" (click)="addNewPreparation()">הוספת רכיב</button>

<ng-container formArrayName="the_list_of_components">
  <ng-container *ngFor="let item of the_list_of_components.controls; let i = index">
    <div>
      <input id="name" type="text" [formControlName]="i" />
      <button type="button" (click)="removePreparation(i)">
        מחיקה
      </button>
    </div>
  </ng-container>
</ng-container>
<button type="button" (click)="addNewPreparation()">הוספת רכיב</button>
<div ></div>
<!-- <h3>Ingredients:</h3>
            <ul>
                <li *ngFor="let ingredient of recipe.the_list_of_components">
                     <img src="path_to_your_ingredient_icon" alt="Ingredient Icon">-->
                    <!-- {{ ingredient }} -->
                <!-- </li> -->
            <!-- </ul>
            <h3>Preparation:</h3>
            <ol>
                <li *ngFor="let step of recipe.preparation">{{ step }}</li>
            </ol> -->
        <!-- </div> -->
<button (click)="keep()">keep</button>
<button (click)="cancel()">cancel</button>
</div>
