.container {
  text-align: center;
  /* overflow: scroll; */
}

.recipe-details {
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  position: fixed;
  top: 2%;
  right: 50%;
  transform: translate(50%, 50%);
  height: auto;
  z-index: 9999;
}

.icon {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%; /* עיגול כל הצדדים של התמונה */
  overflow: hidden; /* כדי להסתיר חלקים של התמונה שאינם חלק מהעיגול */
}

.info {
  margin-top: 20px;
}

.difficulty {
  position: fixed;
  top: 14%;
  right: 52%;
  transform: translate(50%, 50%);
  width: 200px;
  height: auto;
  z-index: 9999;
}

.stars {
  color: gold;
  height: 30px;
  width: 200px;
  display: flex;
  top: 5%;
   margin-left: 40%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* או אורך תמונה מינימלי של 200px */
  grid-gap: 10px; /* מרווח בין התמונות */
}
.star{
  height: 50px;
  width: auto;
}
.preparation{
  direction: rtl;
  position: fixed;
  top: 70px; /* שינוי המרחק מהקצה העליון של העמוד */
  left: 80px; /* שינוי המרחק מהקצה הימני של העמוד */
  width: 300px;
  height: auto;
  z-index: 9999;
}

.ingredients{
  direction: rtl;
  position: fixed; /* מיקום קבוע בראש העמוד */
  top: 70px; /* מרחק מהקצה העליון של העמוד */
  right: 100px; /* מרחק מהקצה הימני של העמוד */
  width: 200px; /* רוחב התמונה */
  height: auto; /* גובה אוטומטי כדי לשמור על היחסיות */
  z-index: 9999; /* העמקת התמונה מעל תוכן אחר */
}

.big-image {
  float: center; /* העמקת התמונה לימין */
  margin-top: 50px;
  /* margin-left: ; */

  width: 600px; /* רוחב התמונה */
  height: auto; /* גובה אוטומטי כדי לשמור על היחסיות */
}
.btn-btn-primary{
margin: 40px;
}
.btn-btn-danger{
  margin: 40px;
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
.image-container{
margin-left: 2px;
}
