<div class="container">
  <div *ngIf="details" class="recipe-details">
    <div class="header">
      <div class="icon-container">
      <h1>{{ details.recipe_name }}</h1>

        <img class="icon" src="{{ details.category_code?.routing_to_icon }}" alt="{{ details.category_code?.routing_to_icon }}">
      </div>
    </div>
    <div class="info">
      <!-- <p>המספר של המתכון הוא: {{ details.category_code?.name }}</p> -->
      <div class="difficulty">
        <!-- <p>רמת קושי:</p> -->
        <div class="stars">
          <div *ngFor="let i of getRange(details.difficulty_level_1_5)" class="star">
            <span>&#9733;</span>
          </div>
        </div>
      </div>
    </div>

    <div class="ingredients">
      <h3>רכיבים:</h3>
      <ul>
        <li *ngFor="let ingredient of details.the_list_of_components">{{ ingredient }}</li>
      </ul>
    </div>

    <div class="preparation">
      <h3>אופן ההכנה:</h3>
      <ol>
        <li *ngFor="let step of details.preparation">{{ step }}</li>
      </ol>
    </div>

    <div class="image-container">
      <!-- <p>תמונת המתכון:</p> -->
      <img class="big-image" src="{{ details.image }}" alt="{{ details.image }}">
    </div>

    <button class="btn-btn-primary" (click)="put()">עדכון מתכון</button>
      <button *ngIf="tmp3" class="btn-btn-danger" (click)="deletee()">מחיקת המתכון</button>

  </div>
</div>
