  <div *ngIf="recipee" (click)="recipeDetails()" class="recipe-container">
    <img class="img1" src="{{ recipee.image }}" alt="{{ recipee.recipe_name }}">

    <h3>{{ recipee.recipe_name }}</h3>
    <p>preparation time:<br> {{ recipee.preparation_time_in_minutes | myTime }}</p>
    <div class="stars">
      <div *ngFor="let i of getRange(recipee.difficulty_level_1_5)">
        <img class="star" src="https://publicdomainvectors.org/tn_img/3DSegmentedStarYellow.webp" alt="star">
      </div>
    </div>
  </div>
